.main {
	padding: 8px;
	margin-right: 16px;
	display: flex;
	width: 100%;
	font-size: large;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: Revalia, sans-serif;
}
.container {
	padding: 24px;
	margin: 56px;
	display: block;
	font-size: large;

	font-family: Revalia, Raleway, sans-serif;
	justify-content: top;
	width: 90%;
	align-items: center;
}
