.formContainer {
	display: flex;
	flex-direction: column;
	gap: 8px;
	width: 80vw;
	height: fit-content;
	flex-shrink: 1;
	margin: 16px;
	padding: 8px;
}
.formContainer form {
	gap: 8px;
	border-radius: 15px;
	border: 3px #fff2b0 none;
}
