.primary {
	justify-content: center;
	border-radius: 15px;
	border: 4px solid rgba(255, 221, 51, 1);
	background-color: #7d3354;
	color: #fff2b0;
	white-space: nowrap;
	padding: 16px 8px;
	font: 400 18px Revalia, sans-serif;
}
a .primary:hover {
	padding: 16px 8px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	cursor:pointer;
	text-decoration: none;
	font-size: 18px;
	color: white;
	flex-shrink: 0;
	border-radius: 15px;
	border: 4px solid #5c0029;
	background: linear-gradient(109deg, #ffe354 1.97%, #002c56 111.33%);
	box-shadow: 2px 4px 2px 0px rgba(0, 0, 0, 0.45);
}
.secondary {
	border-radius: 15px;
	border: 3.5px solid #fd3;
	background: #7d3354;
	display: flex;
	width: 194px;
	height: 79px;
	padding: 0px 8px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
}

.secondary :hover {
	border-radius: 15px;
	border: 4px solid #b48a9d;
	background: linear-gradient(98deg, #ffe354 3.76%, #b48a9d 88.36%);
	box-shadow: 2px 4px 2px 0px rgba(0, 0, 0, 0.45);
	display: flex;
	width: 194px;
	height: 79px;
	padding: 8px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	flex-shrink: 0;
}
