.formContainer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	justify-items: center;
	background: rgba(255, 153, 148, 0.25);
	gap: 8px;
	display: flex;
	flex-direction: column;
	padding: 2vw;
	width: 30vw;
	max-width: 600px;
	border-radius: 15px;
}
.formWrapper {
	display: flex;
	flex-direction: column;

	width: 50%;
	height: fit-content;
	padding: 2vw 4vw;
	gap: 8px;
	max-width: 600px;
	border-radius: 15px;
}
.inputWrapper {
	display: flex;
	flex-direction: column;
	padding: 4px;
	align-items: flex-start;
	justify-content: center;
}
form {
	justify-content: center;
	justify-items: center;
	background: rgba(255, 153, 148, 0.25);
	gap: 8px;
	display: flex;
	flex-direction: column;
	padding: 2vw;
	width: 30%;
	height: auto;
	border-radius: 15px;
}

form h3 {
	color: #7d3354;
}
form input {
	width: 250px;
	border: 2px solid #7d3354;
	border-color: #7d3354;
	box-shadow: 2px 2px black;
	height: 50px;
}
form input:focus {
	border-bottom: #fff02b;
}
form textarea {
	width: 400px;
	height: 200px;
}
