@import url('https://fonts.googleapis.com/css2?family=Revalia&display=swap');

html,
body {
	padding: 0;
	margin: 0;
	overflow: x-hidden y-hidden;
	line-height: 1.6;
	font-size: 20px;
	color: #000000;
	background: #f7f1c6;
	font-weight: normal;
	font-style: normal;
}

h1 {
	font-family: 'Revalia';
	font-weight: normal;
	font-style: normal;
	font-size: xx-large;
}

h2,
h3,
h4 {
	font-family: 'Raleway';
	font-weight: normal;
	font-style: normal;
}
h2 {
	font-size: larger;
}
h3 {
	font-size: medium;
	font-style: oblique;
	font-weight: 400;
}
* {
	box-sizing: border-box;
}
a {
	color: none;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

img {
	max-width: 100%;
	display: block;
}
ul {
	list-style-type: none;
}

@media (max-width: 590px) {
	body {
		font-size: 18px;
		font-family: 'Revalia';
		font-weight: 400;
	}
	h1 {
		font-size: medium;
	}
	p {
		font-size: small;
	}
}
