
.nav_main {
    
    display: flex;
    padding: 56px;
    width: 100%;
    height: 89px;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-shrink: 0;
    background: #FFF2B0;
}

.nav_logo_container {
    display: flex;
    width: 131px;
    padding: 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;

}
.nav_logo {
    display: block;
    height: 100px;
    align-self: stretch;
    background: url(/public/assets/mask.png) cover no-repeat;
}
.nav_links  {
    display: flex;
    padding: 8px;
    justify-content: center;
    align-items: center;
    gap: 24px;
}


.link_wrapper {
    display: flex;
    width: 130px;
    height: 58px;
    flex-direction: column;
    justify-content: center;
    color: #000;
    text-align: center;
    font-family: Revalia;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}
.cta_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.mobile_nav {
    padding: 8px;
    display:none;

}
.mobile_menu{
    display:none;
    
    padding: 16px;
    background: #FFF2B0;
    color:maroon;
    justify-content: right;
    font-size: 24px;
    font-weight:400;
    animation: ease-in 500ms linear;

}

@media only screen and (max-width: 690px){
    .nav_links,.nav_logo {
        display: none;
       
    }
    .mobile_nav {
        display:flex;
        flex-direction: row;
    }
    .cta_wrapper {
        justify-content: space-between;
    }
    .mobile_menu{
        display:flex;
        flex-direction: column;
    }
    
}