.navbar {
    position: fixed;
    width: 100%;
    height: 79;

}
.nav_container {
    display:flex;
    align-items: center;
    justify-content: space-between;
    height: full;
    width: full;
    padding-top: 2px;
    padding-bottom: 2px;

}
.nav_logo {
    cursor: pointer;
}
.navmenu {
    display:flex;
    flex-direction: row;
    padding: 8px;
    

}
.navitem {
    color: maroon;
    margin-left: 10px;
    text-transform: uppercase;
}
.navitem :hover {
    text-decoration: underline;
    text-shadow: 2px;
    border-bottom: 2px maroon;
}
.hamburger {
    display: hidden;
    cursor: pointer;
    padding-left: 8px;
}
.mobilenav {
    position: fixed;
    left:0;
    top: 0;
    width: 65%;
    height: 100%;
    
}

@media (max-width: 690px){
    .navmenu {
        display: hidden;
    }
    .hamburger {
        display: block;
    }
}